html, body {
    margin: 0;
    padding: 0;
    background-image: url('../pictures/home3.jpg');
    background-size: cover;

/*    opacity: 0.6;*/
}

* {
    font-size: 100%;
    font-family: system-ui;
}

.floatRight {
    float: right;
}


header {
    background-color: #333;
    padding: 10px;
    height: 20px;
}

.bar::before {
    content: 'MY WALL STICKER SHOP';
    color: white;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    display: block;
    top: 8px;
    left: 51%;
    font-family: Helvetica;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    margin:0;
}

.QuickLinks ul {
    list-style: none;
}

.QuickLinks li {
    display: inline-block;
    margin-right: 10px;
}

    .QuickLinks li a {
        color: #fff;
        text-decoration: none;
    }


.box {
    direction: ltr;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 5%;
}

button {
    background-color: rgb(72,146,137);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        background-color: rgb(72,146,120);
    }

    #LogIn h4 {
        font-size: 20px;
        text-align: center;
    }

    #LogIn label {
        display: block;
        margin-bottom: 5px;
    }

    #LogIn input[type="text"],
    #LogIn input[type="password"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

/* Registration form styles */
#regist {
    visibility: hidden;
}

    #regist h4 {
        font-size: 20px;
        text-align: center;
    }

    #regist label {
        display: block;
        margin-bottom: 5px;
    }

    #regist input[type="text"],
    #regist input[type="password"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
h3 {
    text-align: center;
    color: black;
    padding: 20px;
}

Show registration form when link is clicked
#regist:target {
    visibility: visible;
}



/* Update form styles */

    #update label {
        display: block;
        margin-bottom: 5px;
    }

    #update input[type="text"],
    #update input[type="password"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


